body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #2ecc71, #3498db);
    color: white;
}

.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
}

form {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 75%;
    height: 100px;
    resize: none;
    overflow: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
}
